@font-face { 
    font-family: 'Post No Bills Jaffna';
    src:
         /* url(WebFont.eot?) format("eot"), 
         url(WebFont.woff) format("woff"), */
         url(../fonts/PostNoBillsJaffna-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face { 
    font-family: 'PT Sans';
    src: url(../fonts/PTSans-Regular.eot) format("eot"), 
         url(../fonts/PTSans-Regular.woff) format("woff"), 
         url(../fonts/PTSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'Playfair Display_700';
    src: url(../fonts/PlayfairDisplay-Bold.eot) format("eot"), 
         url(../fonts/PlayfairDisplay-Bold.woff) format("woff"), 
         url(../fonts/PlayfairDisplay-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face { 
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.eot) format("eot"), 
         url(../fonts/PlayfairDisplay-Regular.woff) format("woff"), 
         url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    color: #fff;
    font-family: 'PT Sans';
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #000;
    color: #fff;
    min-width: 360px;
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
h3{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title_p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

span {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #D0D0D0;
}

hr {
    width: 120px;
    height: 1px;
    color: #fff;
}

.contact {
    max-width: 1110px;
    margin: 0 auto;
    padding: 14px 0;
}
.contact p, .contact a{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.contact > img{
    margin-right: 15px;
}

.header_backgraund {
    background-color: #0F0F0F;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px; */
  /* border: 1px solid #000; */
  max-width: 1110px;
  margin: 0 auto;
  background-color: #0F0F0F;
  box-sizing: border-box;
 }

 .logo {
    color:#fff;
    font-family: 'Post No Bills Jaffna', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
 }
.nav-menu {
  margin: 0;
}
 .nav-menu a {
    font-family: 'PT Sans';
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 31px 18px;
    text-align: center;
    color: #969696;
    text-transform: uppercase;
 }

.nav-menu a:hover {
  color: white;
  transition: all .3s;
  background-color: #1F1F1F;
}

.basket {
    width: 84px;
    margin-left: 15px;
}

.enter {
    margin-left: auto;
}

.enter img{
    margin-right: 19px;
}

.burger {
    transform: rotate(-90deg);
    display: none;
}



/*                              BLOCK 1                                    */




.block1 {
    background-image: url(../img/block1/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.line{
   padding: 160px 0 154px;
   height: 810px;
   box-sizing: border-box;
}

.block1 p {
    text-align: center;
    max-width: 730px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
}


/*                               BLOCK 2                             */


.left_clock {
    max-width: 54.1666667%;
    width: 100%;
    padding: 93px 80px;
    box-sizing: border-box;
}

.left_clock > h2 {
    font-family: 'Playfair Display_700';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.block2 hr {
    margin: 50px 0;
}

.b2sl {
    height: 405px;
    position: relative;
}

.b2sl_pic_bg {
    background: #191B1C;
    padding: 27px 22px 34px 23px ;
}

.b2sl_bot {
    position: absolute;
    bottom: 0;
}

.b2sl_bot span {
    display: block;
    margin-top: 10px;
}

.right_pic {
    background: url('../img/block2/bcg.png') no-repeat;
    background-size: cover;
    width: 45.8333332%;
    text-transform: uppercase;
    padding-bottom: 100px;
    text-align: center;
}

.block2 .right_pic hr {
    margin: 30px 0;
}


/*                                BLOCK 3                               */


.b3left {
    width: 48.75%;
    background: url(../img/block3/bcg.png) no-repeat center;
}

.bl3right {
    width: 51.25%;
    padding-top: 100px;
}

.b3_right_content {
    max-width: 628px;
    margin: 0 auto;
}

.bl3right hr {
    margin: 40px 0;
}

.bl3right p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}

.bl3right a {
    margin: 64px 98px;
    font-family: 'PT Sans';
}

/*                                   BLOCK 4                                   */

.block4{
    padding: 120px 0 150px
}

.block4 hr{
    margin:39.5px auto 81.5px;
}

.slider_clock_6ps{
    margin-bottom: 40px;
    max-width: 1109px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.b4_slide{margin-bottom: 40px;}

.b4sl{
    width: 260px;
    height: 325px;
    border: 1px solid rgb(182, 179, 179);
    display: block;
    text-align: center;
    margin-bottom: 25px;
}
.b4bcg1{
    background: #191B1C url(../img/clock/clock1.png) no-repeat center;
}

.b4bcg2{
    background: #191B1C url(../img/clock/clock2.png) no-repeat center;
}

.b4bcg3{
    background: #191B1C url(../img/clock/clock3.png) no-repeat center;
}

.b4bcg4{
    background: #191B1C url(../img/clock/clock4.png) no-repeat center;
}

.b4bcg5{
    background: #191B1C url(../img/clock/clock5.png) no-repeat center;
}

.b4bcg6{
    background: #191B1C url(../img/clock/clock6.png) no-repeat center;
}

.b4bcg7{
    background: #191B1C url(../img/clock/clock7.png) no-repeat center;
}

.b4bcg8{
    background: #191B1C url(../img/clock/clock2.png) no-repeat center;
}

.b4_btn {
    /* display: inline-block; */
    display: none;
    margin: 135px auto 0;
    padding: 12px 28px;
    border: 1px solid #fff;
}

.b4sltext{
    display: block;
    margin: 25px 0 10px;
}

.b4sltext span{
    display: block;
}
.b4sl img{
    background-color: #191B1C;
    padding: 27px 22px 34px 23px
}

.b4_slide:hover  .b4_btn{
    display: inline-block;
}

.b4_slide:hover  .b4hov_hide{
  opacity: 0;
}

.b4_slide:hover .b4sl{
    z-index: 10;
}

.b4_blur{
    /* background: rgba(25, 27, 28, 0.5);  */
    backdrop-filter: blur(1.5px);
}


/*                                  BLOCK 5                                */


.block5backgraund {
    background-color: #0F0F0F;
    max-width: 1920px;
    width: 100%;
}

.block5 {
    padding-top: 63.32px;
}

.bl5title h2 {
    line-height: 48px;
}

.bl5title hr {
    margin: 36.56px auto 56.97px;
 }
.bl5right p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.bl5bcg1 {
    background: url(../img/block4/photo1.png) center;
}

.bl5right p {
    max-width: 628px;
    margin: 14px 0px 39px 0px;
}

.bl5btn_hash {
    display: block;
}


/*                                  BLOCK 5/2                          */




.block5_2 {
    padding-top: 30px;
}

.block5_2 img{display: block;}

.bl5left {
    width: 989px;
    height: 437px;
    margin-right: 145px;

}
.bl5bcg2{
    background: url(../img/block4/photo2.png) center;
}
.bl5title_txt_2 {margin-top: 56px;}

/*                                  BLOCK 5/3                                 */
.block5_3 {
    padding-top: 35px;
}
.bl5bcg3 {
    background: url(../img/block4/photo3.png) center;
}
.bl5title_txt_1 {margin-top: 53px;}
.bl5title_txt_2 {margin-top: 56px;}
.bl5title_txt_3 {margin-top: 48px;}


/*                                   BLOCK 6                                 */


.block6 {
    padding-bottom: 106px;
}

.block6 > h2 {
    padding-top: 90px;
}

.block6 > hr {
    margin: 50px auto 66px;
}

.partner > a {
    padding-left: 30px;
}


/*                                        FOOTER                             */


footer{
    background: url('../img/footer/footer.png') no-repeat center;
    background-size: cover;
    padding: 80px 20px 66px;
    justify-content: center;
}
footer > div{
    max-width: 350px;
    width: 100%;
    margin: 0 15.5px 0 10px;
}


footer div:nth-child(2) div{
    flex-wrap: wrap;
}

footer h2{
    margin-bottom: 40px;
    text-align: left;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer p{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

footer a{
    display: inline-block;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 10px 20px;
    background: #0F0F0F;
    margin-left: 6px;
    margin-bottom: 20px;
}

.mail_form{
    margin-top: 40px;
}

.mail_form input{
    width: 210px;
    height: 42px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
}
.mail_form input::placeholder{
    color: #FFFFFF;
    padding-left: 20px;
}

.mail_form button{
    padding: 10px 20px;
    background: #0F0F0F;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
}


/*                                  UNDER_FOOTER                               */

.under_footer {
    max-width: 1110px;
    justify-content: space-between;
    margin: 0 auto;
}

.under_footer > p {
    padding: 17px 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
}

.under_footer > a {
    padding: 17px 0px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #D0D0D0;

}



@media screen and (max-width: 1250px){
    .header_backgraund, .contact{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-list > a{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
}

@media screen and (max-width: 1050px){
    footer{
        flex-wrap: wrap;
    }
    footer > div{
        margin-bottom: 25px;
    }


}



@media screen and (max-width: 1050px){
    .burger{
      display: block;
     }
     header{position: relative;}
     .nav-menu{
      display: none;
      flex-direction: column;
      position: absolute;
      border: 1px solid rgb(107, 107, 107);
      top: 50px;
      left: -15px;
      padding: 15px;
      background: #473737;
      
    }
    header div:nth-child(2){
      order: -1;
    }
    .nav-menu a{
        display: block;
        padding: 8px 0;
        text-align: left;
    }
      
  }
  @media screen and (max-width: 560px){

  }

.hide{display: none}
.show{display: block;}
.show_flex{display: flex}
.df{display:flex}
.aic{align-items: center;}
.fw{flex-wrap: wrap;}
.aife{align-items: flex-end;}
.jcsb{justify-content: space-between;}
.jcfe{justify-content: flex-end;}
.jcfs{justify-content: flex-start;}
.jcc{justify-content: center;}
.fdc{flex-direction: column;}
.tac{text-align: center;}
.btn{
    display: block;
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}



